@using Microsoft.AspNetCore.Components.Web
@using SneakyPeekyWeasleyShop.Models
@using SneakyPeekyWeasleyShop.Services
@using SneakyPeekyWeasleyShop.Controllers
@inject JsonFileMagicProductService productService


<div class="card-columns">
    @foreach (var magicProduct in productService.GetMagicProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image:url('@magicProduct.Image')"> </div>
            <div class="card-body">
                <h5 class="card-title">@magicProduct.Name</h5>
                <h5 class="card-title">@magicProduct.Description</h5>
            </div>
        </div>

        <div class="card-footer">
            <small class="text-muted">
                <button @onmouseover="(e => SelectProduct(magicProduct.Name))"
                        data-bs-toggle="modal" data-bs-target="#productModal" class="btn btn-primary">
                    More Info
                </button>
            </small>
        </div>
    }
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@if (selectedMagicProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedMagicProduct.Name</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedMagicProduct.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedMagicProduct.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (totalVotes == 0)
                    {
                        <span>Be the first one to vote!</span>
                    }
                    <span>
                        @totalVotes @voteLable
                    </span>

                    @for (int i = 0; i < 5; i++)
                    {
                        var currentVoteStar = i;
                        if (i <= currentRaiting)
                        {
                            <span class="fa-star fa checked" @onclick="e => SetRaiting(currentVoteStar)"></span>
                        }
                        else
                        {
                            <span class="fa-star fa" @onclick="e => SetRaiting(currentVoteStar)"></span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}



@code {
    MagicProduct selectedMagicProduct;
    string selectedMagicProductName;

    void SelectProduct(string productName)
    {
        selectedMagicProductName = productName;
        selectedMagicProduct = productService.GetMagicProducts().First<MagicProduct>(prod => prod.Name == selectedMagicProductName);
        GetCurrentRaiting();
    }

    int currentRaiting = 0;
    int totalVotes = 0;
    string voteLable;

    void GetCurrentRaiting()
    {
        if (selectedMagicProduct.Ratings is null)
        {
            currentRaiting = 0;
            totalVotes = 0;
            return;
        }

        totalVotes = selectedMagicProduct.Ratings.Length;
        voteLable = totalVotes > 1 ? "Votes" : "Vote";
        int raitingsSum = selectedMagicProduct.Ratings.Sum();

        currentRaiting = raitingsSum / totalVotes;
    }

    void SetRaiting(int raiting)
    {
        productService.AddRaiting(selectedMagicProductName, raiting);
        SelectProduct(selectedMagicProductName);
    }
}
